@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Poppins";
}

body{
    background-color: #242143;
}

.header{
    width: 100%;
    background-color: #322F4C;

}

 .header__container{

    display: flex; 
    justify-content: space-between;
    align-items: center;

    max-width: 720px;
    padding: 20px;
    margin: 0 auto;

    color: #fff;
}

.header > h3 {
    font-size: 2rem;
}

.header p {
    font-size: 1.4rem;
   
}

.main{
    color: #fff;
    padding: 20px;
    max-width: 720px;
    margin: 0 auto;
}

.main > h4{
    font-weight: 600;
    font-size: 2rem;

    
}

form{
    display: flex;
    flex-direction: column;
}

input[type='password']{
    padding: 14px 8px;
    border: none;
    border-radius: 6px;
    margin: 10px 0px;
}

label{
    font-size: 1.4rem;
    margin: 10px 0px;
}

